<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex justify-center items-center h-screen">
    <div class="rounded-lg border-red-400 border-2 p-4">
    <h1>Forgot Password</h1>
    <form method="post">
        {% csrf_token %}
        <label>Email:</label>
        <input type="email" name="email" class="border-2 "><br><br>
        <input type="submit" value="Send reset instructions" class="bg-red-400 p-2 text-white rounded-lg">
    </form>
    <p><a href="{% url 'login' %}" class="hover:text-red-400 cursor:pointer hover:underline">Back to login</a></p>
</div>
</body>
</html>